{% extends "_layout.twig" %}

{% block content %}

<div class="border-top padding-y-2">

	<div class="container wide">

		<ul class="nav-breadcrumb font-size-sm">
			<li>
				<a href="#1">
					<span class="icon icon-home" aria-hidden="true"></span>
				</a>
			</li>
			<li>
				<em>
					About
				</em>
			</li>
			<li class="text-color-primary">
				A Brief History
			</li>
		</ul>

	</div>
	
</div>

<main id="skip-header-target">

	<article>

		<header class=" theme-primary" id="introduction">

			<div class="container narrow medium--lg text-align-center padding-y-5">

				<h1 class="banner-headline">
					A Brief History
				</h1>

			</div>

		</header>

		<div class="container narrow wide--lg">

			<div class="grid-sidebars grid--divider gap-4 margin-y-5">

				<div class="grid-sidebar__minor-start">

					<nav class="font-size-md">

						<ul class="nav theme-light border-top border-color-primary padding-3 position-sticky-top">
							<li>
								<a href="/about" aria-current="page">Welcome</a>
							</li>
							<li>
								<a href="#">A Brief History</a>
							</li>
							<li>
								<a href="#">Clergy &amp; Staff</a>
							</li>
							<li>
								<a href="#">Historical Society</a>
							</li>
							<li>
								<a href="#">Parish Life</a>
							</li>
							<li>
								<a href="#">Outreach</a>
							</li>
							<li>
								<a href="#">Volunteer</a>
							</li>
							<li>
								<a href="#">Sister Parishes</a>
							</li>
						</ul>

					</nav>

				</div>

				<div class="grid-sidebar__major">

					<div class="grid-sidebar__major__container">

						<figure>
							<img
								src="/images/figure-example.jpg"
								alt="Placeholder"
							/>
							<figcaption class=" container narrow">
								<p>
									A simple caption
								</p>
							</figcaption>
						</figure>

						<section class="container narrow margin-y-4">

							<h2>
								Duis Convallis Convallis Tellus Id Interdum Velit Pellentesque
							</h2>

							<h3 class="screen-reader-only">
								Volutpat
							</h3>

							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus semper mi a condimentum. Morbi sit amet dictum turpis. Donec id neque augue.
							</p>

							<p>
								Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris vestibulum tincidunt diam vel interdum. Quisque aliquam, nunc nec fermentum dapibus, sem eros efficitur nisl, ac porta enim diam.
							</p>

							<p>
								Phasellus a magna sit amet mauris euismod cursus. Cras blandit aliquam justo, et consectetur sem consequat vitae. In non lacus luctus, lacinia mi eu, cursus libero. Pellentesque eu eleifend est.
							</p>

						</section>

						<hr />

						<section class="container narrow margin-y-4">

							<h3>
								Facilisis Mauris Sit
							</h3>

							<p>
								Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque massa.
							</p>

							<p>
								Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non diam phasellus vestibulum lorem
							</p>

							<p>
								Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis.
							</p>

						</section>

							<figure>

								<div class="backdrop backdrop--stack--lg theme-primary">

									<div class="backdrop__media gradient-mask-bottom">
										<img class="opacity-70--lg fade-on-scroll" src="https://via.placeholder.com/1500x750" alt="Placeholder" />
									</div>

									<div class="backdrop__cover align-content-end">

										<div class="container margin-y-5">
											<p class="h2 oswald text-shadow margin-bottom-3">
												Magna fermentum iaculis eu non diam phasellus vestibulum.
											</p>

											<a class="button font-size-sm theme-primary" href="#1">
												Dignissim Sodales
											</a>
										</div>

									</div>

								</div>

							</figure>

						<section class="container narrow margin-y-4">

							<h2>
								Aliquam Justo
							</h2>

							<p>
								Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque massa.
							</p>

							<p>
								Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non diam phasellus vestibulum lorem
							</p>

							<p>
								Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis.
							</p>

						</section>

						<footer class="border-top padding-top-3 font-size-sm margin-top-4">
							<div class="grid grid--column-3 gap-2 align-items-center">
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-facebook"></span>
									<span class="button__text">Share</span>
								</a>
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-twitter"></span>
									<span class="button__text">Tweet</span>
								</a>
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-mail"></span>
									<span class="button__text">Send</span>
								</a>
							</div>
						</footer>

					</div>
				</div>

				<div class="grid-sidebar__minor-end">

					<div>
						
						<a class="backdrop theme-dark" href="#1">

							<div class="backdrop__media">
								<img class="opacity-50" src="https://via.placeholder.com/1500x750" alt="Placeholder" />
							</div>

							<div class="backdrop__cover align-content-end justify-content-start">

								<div class="container text-align-center">
									<h3 class="h6">
										Clergy &amp; Staff
									</h3>
								</div>

							</div>

						</a>

					</div>


				</div>

			</div>

		</div>

	</article>

</main>

{% endblock %}