<header class="global-header container wide--lg">

    <div class="global-header__brand">

        <a href="/" title="Home" data-logo="brand">
            <picture>
                <source
                    srcset="/dist/images/little-church-logo.svg"
                    media="(min-width: 1000px)"
                >
                <img
                    src="/dist/images/little-church-logo-sm.svg"
                    alt="the little church around the corner logo"
                />
            </picture>
        </a>
    
    </div>

    <div class="global-header__address">
        <em>1 E 29th St, NY 10016</em>
        <span class="divider">•</span>
        <em>212-684-6770</em>
    </div>

    <div class="global-header__secondary">

        <ul>
            <li>
                <a href="#">Virtual Tour</a>
            </li>
            <li>
                <a href="#">Visit</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Pledge</a>
            </li>
        </ul>

    </div>

    <nav class="global-header__primary">

        <ul>
            <li>
                <button
                    data-toggle="dropdown"
                    aria-controls="dropdown-about"
                    aria-expanded="false"
                >
                        About
                </button>

                <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-about">
                    <li>
                        <a href="/about">Welcome</a>
                    </li>
                    <li>
                        <a href="#">A Brief History</a>
                    </li>
                    <li>
                        <a href="#">Clergy &amp; Staff</a>
                    </li>
                    <li>
                        <a href="#">Historical Society</a>
                    </li>
                    <li>
                        <a href="#">Parish Life</a>
                    </li>
                    <li>
                        <a href="#">Outreach</a>
                    </li>
                    <li>
                        <a href="#">Volunteer</a>
                    </li>
                    <li>
                        <a href="#">Sister Parishes</a>
                    </li>
                </ul>
            </li>
            <li>
                <button
                    data-toggle="dropdown"
                    aria-controls="dropdown-worship"
                    aria-expanded="false"
                >
                        Worship
                </button>

                <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-worship">
                    <li>
                        <a href="#">Worship Schedule</a>
                    </li>
                    <li>
                        <a href="#">Liturgy</a>
                    </li>
                    <li>
                        <a href="#">Audio Sermons</a>
                    </li>
                    <li>
                        <a href="#">Weddings</a>
                    </li>
                    <li>
                        <a href="#">Baptisms</a>
                    </li>
                    <li>
                        <a href="#">Funerals</a>
                    </li>
                    <li>
                        <a href="#">Prayer Requests</a>
                    </li>
                </ul>
            </li>
            <li>
                <button
                    data-toggle="dropdown"
                    aria-controls="dropdown-music"
                    aria-expanded="false"
                >
                    Music
                </button>

                <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-music">
                    <li>
                        <a href="#">Music at Tranfiguration</a>
                    </li>
                    <li>
                        <a href="#">Organist &amp; Choirmaster</a>
                    </li>
                    <li>
                        <a href="#">Liturgical Music</a>
                    </li>
                    <li>
                        <a href="#">Concert Series</a>
                    </li>
                    <li>
                        <a href="#">A Little Midday Music</a>
                    </li>
                    <li>
                        <a href="#">Choir of Men &amp; Boys and Girls</a>
                    </li>
                    <li>
                        <a href="#">Seraphim Singers</a>
                    </li>
                    <li>
                        <a href="#">Cherub Choir</a>
                    </li>
                    <li>
                        <a href="#">Camerata</a>
                    </li>
                    <li>
                        <a href="#">Support Our Music Program</a>
                    </li>
                </ul>
            </li>
            <li>
                <button
                    data-toggle="dropdown"
                    aria-controls="dropdown-education"
                    aria-expanded="false"
                >
                        Education
                </button>

                <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-education">
                    <li>
                        <a href="#">Bible Study</a>
                    </li>
                    <li>
                        <a href="#">Adult Education</a>
                    </li>
                    <li>
                        <a href="#">Sunday School</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#1">
                    Events
                </a>
            </li>
        </ul>

    </nav>

</header>