<header class="margin-x-auto wide" id="global-header">

    <div class="primary-nav--inline--lg">

        <div class="primary-nav__logo">

    <a href="/" title="Home" data-logo="brand">
        <picture>
            <source
                srcset="/dist/images/little-church-logo.svg"
                media="(min-width: 1000px)"
            >
            <img
                src="/dist/images/little-church-logo-sm.svg"
                alt="the little church around the corner logo"
            />
        </picture>
    </a>

        </div>

        <nav class="primary-nav__menu" id="main-menu" aria-label="Main Menu">

            <ul class="oswald">
                <li>
                    <button
                        data-toggle="dropdown"
                        aria-controls="dropdown-1"
                        aria-expanded="false"
                        >
                            Aliquet
                    </button>
                    <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-1">
                        <li>
                            <a href="#1">
                                Ornare
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                Malesuada
                            </a>
                        </li>
                        <li>
                            <a href="#1">
                                Viverra
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#1">
                        Neque
                    </a>
                </li>
                <li>
                    <a href="#1">
                        Aamet
                    </a>
                </li>
                <li>
                    <a href="#1">
                        Morbi
                    </a>
                </li>
                <li>
                    <a href="#1">
                        Tempor
                    </a>
                </li>
            </ul>

        </nav>

        <div class="primary-nav__toggle">

            <button class="mobile-menu-toggle button button--icon-only" aria-label="Menu" data-toggle="collapse" aria-controls="main-menu">
                <span class="icon icon-menu"></span>
            </button>

        </div>

        <div class="primary-nav__actions">

            <button class="button button--icon-only" aria-label="Language">
                <span class="icon icon-language"></span>
            </button>

        </div>

    </div>

</header>