{% extends "_layout.twig" %}

{% block content %}

<main id="skip-header-target">

    <article>

        <header class="" id="introduction">
            <div class="container medium--lg text-align-center padding-y-5">
                <h1>The Church of the Transfiguration's 2025 Pledge Campaign</h1>
            </div>
        </header>

        <div class="container narrow margin-y-4">

            <!-- PayPal Option -->
            <section class="margin-bottom-4">
                <p>
                    <strong>
                        Dear friends and members of our parish family,
                    </strong>
                </p>
                <p>
                    When our church was founded, the primary source for income was through pew rentals. Families would rent pews that would be for their use only, and the more wealthy the family, the better the pew position. This was a common practice throughout the Church in that day.
                </p>
                
                <p>
                    Our first rector, Fr. George Houghton, disliked this practice and viewed it as exclusive and counter to Christ's teachings. He wanted a parish free from rented pews, but he was overruled by the vestry which was faced with the reality of budgets and the need for funds. A compromise was made: 20% of the pews would remain rent free, and by the time of the Creed, any empty rented pews could be occupied by anyone.
                </p>

                <p>
                    We can still see which pews were rented by the brass name plaques on the pews. The pews with plaques were the rented pews, and those without were the free pews.
                </p>

                <p>
                    Times have changed, and many things in the church have evolved, but one thing remains the same…the need for financial support.
                </p>

                <p>
                    Thankfully, we don't rent pews anymore, and the avenues for giving have become more gentle and inclusive. Today, most parishes raise financial support through an annual pledge campaign. Each member or friend of the parish pledges an amount that they feel they can commit to for the coming year. This way, the vestry and treasurer have an idea of proposed income in order to craft a realistic budget.
                </p>

                <p>
                    And because pledging should not be solely for the financially prosperous, like pew rentals, we have the option of the “Open Pledge.” The Open Pledge is for those who, for whatever reason, are unable to make a specific financial obligation at this point in time, but who will give as they are able in time, talent, and treasure.
                </p>

                <p>
                    The combination of specific amount pledges and open pledges has enabled this parish to celebrate full participation in our pledge campaigns which has, in turn, trickled down into our spiritual DNA and sense of parish family.
                </p>

                <p>
                    Thank you for your pledge consideration for this coming year, 2025. We have always met our financial goals through 100% participation.
                </p>

                <p>
                    Your presence, faith, and support are deeply appreciated. Together, we can carry the torch of support handed to us from past generations. Now it is our hearts’ turn to carry this touch, hand-in-hand with one another in our service to Jesus Christ.
                </p>

                <p>
                    With love, 
                    <img src="/images/john-david-signature.svg" alt="" style="margin: 12px 0; display:block;"> 
                </p>

                <p>
                    <strong>Fr. van Dooren</strong>
                </p>
                
            </section>
                
        </div>

    </article>

</main>

{% endblock %}
