<div class="container narrow--md margin-y-2">

	{% if entry.linkField is defined and entry.linkField %}
		<a class="button text-color-link" href="{{ entry.linkField}}">
			{{ entry.title }}
			{% if entry.linkField.type == 'url' %}
				<span class="icon icon-open-new"></span>
			{% else %}
				<span class="icon icon-arrow-right"></span>
			{% endif %}
		</a>
	{% endif %}

</div>