
.global-header {
    --_header-gap: 0;
    --_header-padding: var(--spacer-2);

    display: grid;

    grid-template-columns: auto 1fr; /* Two equal-width columns */
        grid-template-areas:
            "brand address"
            "secondary secondary"
            "primary primary"; /* Make secondary and primary span both columns */

    // gap: var(--_header-gap);

    ul {
        list-style: none;
    }

    li {
      position: relative;
    }

    > * {
    //   outline: 2px solid blue;
    }

    [class*="__brand"] {
      grid-area: brand;

      padding-block: var(--_header-padding);
    }
    
    [class*="__address"] {
      grid-area: address;
      
      display: flex;

      flex-direction: column;
      justify-content: center;
      gap: 0.125em;

      text-align: end;
      
      font-size: var(--font-size-sm);

      .divider {
        display: none;
      }
    }
    
    [class*="__secondary"]  {
        grid-area: secondary;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-sm);
    }
    
    [class*="__primary"] {
        grid-area: primary;
        
        > ul > li {
            padding-block: var(--_header-padding);
        }
    }
    
    @media (min-width: 1000px) {

        grid-template-columns: auto 1fr;

        grid-template-areas:
            "brand address"
            "brand secondary"
            "brand primary";
            
        place-items: end;

        :is(
            [class*="__primary"], 
            [class*="__secondary"]
        ) {
            display: flex;
            justify-content: end;

            > ul {
                list-style: none;
                display: flex;
                
                gap: 1em;
            }

        }

        [class*="__primary"] {
            font-size: var(--font-size-lg);

            > ul > li {
                padding-block-end: var(--_header-padding);
            }
        }

        [class*="__address"] {
            flex-direction: row;
            justify-content: end;
            gap: 0.5rem;

            .divider {
                display: block;
            }
        }

        .nav__dropdown {
            --_padding: 0.75em;
            
            position: absolute;
            
            min-width: 204px;
            
            padding: var(--_padding);
            
            transform: translateX(calc(var(--_padding) * -1));

            background-color: var(--light);
        }

    }
}

