{% extends "_layout.twig" %}

{% block content %}

<main id="skip-header-target">

	<article>

		<header class="theme-primary" id="introduction">

			<div class="container narrow medium--lg text-align-center padding-y-5">

				<h1>
					Our Little Blog
				</h1>

			</div>

		</header>

		<div class="margin-x-auto narrow--md wide--lg margin-y-5">

			<article class="grid grid--column-2 align-items-center--xl theme-dark">

				<div>
					<img src="/src/images/blog/hero-eternal-resurrection.jpg" alt="">
				</div>

				<div class="container text-align-center">
					<p class="font-size-sm margin-bottom-0">
						October 19, 2024
					</p>
					
					<h2>
						Eternal Resurrection
					</h2>
				</div>
			
			</article>

			<hr class="margin-y-4" />

			<ul class="grid grid--divider--fill-x grid--column-3--lg gap-4">

				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/03-17-2020.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>

				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/03-13-2020.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>
			
				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/09-19-2019.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>

				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/05-15-2019.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>

						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>

				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/10-24-2018.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>
				
				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/07-20-2018.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>
				
				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/03-13-2018.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>
				
				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/01-15-2018.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>
				
				<li>
					<a class="display-block" href="#">

						<img
							class="margin-bottom-2"
							src="/src/images/blog/12-21-2017.jpg"
							alt="Transfiguration's Updated Statement on COVID-19"
						/>

						<p class="margin-bottom-1 font-size-md">March 17, 2020</p>
						<h5>Transfiguration's Updated Statement on COVID-19</h5>
					</a>
				</li>
			
			</ul>
		
		</div>


	</article>

</main>

{% endblock %}