{% extends "_layout.twig" %}

{% block content %}

<main id="skip-header-target">

	<article>

		<header class="theme-primary" id="introduction">

			<div class="container narrow medium--lg text-align-center padding-y-5">

				<h1>
					Conact Us
				</h1>

			</div>

		</header>

	</article>

</main>

{% endblock %}