{% extends "_layout.twig" %}

{% block content %}

<main id="skip-header-target">

	<section class="backdrop backdrop--stack--lg theme-dark" id="introduction">

		<div class="backdrop__media gradient-mask-bottom">
			<img class="opacity-50 fade-on-scroll" src="/images/backdrop-banner-01.jpg" alt="Placeholder" />
		</div>

		<div class="backdrop__cover align-content-end">

			<div class="container narrow medium--lg text-align-center margin-y-5">

				<h1 class="banner-headline text-shadow margin-bottom-4">
					We embrace all who seek God's inclusive love
				</h1>

				<a class="button 👉 button--has-icon theme-primary" href="#1">
					<span class="button__text">Worship With Us</span>
					<span class="icon icon-arrow-right"></span>
				</a>
				
			</div>

		</div>

	</section>

	<section class="margin-y-6">

		<div class="container medium text-align-center margin-bottom-5">
		
			<h2 class="banner-headline">
				We embrace all who seek God's inclusive love
			</h2>
			
		</div>

		<div class="container narrow wide--lg">

			<div class="grid grid--divider grid--divider--fill-x grid--column-2--lg">

				<a class="backdrop theme-dark" href="#1">

					<div class="backdrop__media">
						<img class="opacity-50" src="https://via.placeholder.com/1500x750" alt="Placeholder" />
					</div>

					<div class="backdrop__cover align-content-end justify-content-start">

						<div class="container text-align-center">
							<h3 class="text-shadow margin-bottom-3">
								Clergy &amp; Staff
							</h3>
						</div>

					</div>

				</a>
		
				<a class="backdrop theme-dark" href="#1">

					<div class="backdrop__media">
						<img class="opacity-50" src="https://via.placeholder.com/1500x750" alt="Placeholder" />
					</div>

					<div class="backdrop__cover align-content-end justify-content-start">

						<div class="container text-align-center">
							<h3 class="text-shadow margin-bottom-3">
								Liturgy
							</h3>
						</div>

					</div>

				</a>

				<a class="backdrop theme-dark" href="#1">

					<div class="backdrop__media">
						<img class="opacity-50" src="https://via.placeholder.com/1500x750" alt="Placeholder" />
					</div>

					<div class="backdrop__cover align-content-end justify-content-start">

						<div class="container text-align-center">
							<h3 class="text-shadow margin-bottom-3">
								Music
							</h3>
						</div>

					</div>

				</a>
		
				<a class="backdrop theme-dark" href="#1">

					<div class="backdrop__media">
						<img class="opacity-50" src="https://via.placeholder.com/1500x750" alt="Placeholder" />
					</div>

					<div class="backdrop__cover align-content-end justify-content-start">

						<div class="container text-align-center">
							<h3 class="text-shadow margin-bottom-3">
								Parish life
							</h3>
						</div>

					</div>

				</a>

			</div>

		</div>

	</section>

    <section class="margin-y-6">
    
        <div class="container wide">

            <header class="header border-bottom border-color-dark padding-bottom-1 margin-bottom-2">
                <h2 class="font-size-sm font-weight-normal text-transform-uppercase">Spotlight Video</h2>
            </header>

            <div class="grid grid--column-2--lg align-items-center gap-3">
            
                <div class="theme-dark aspect-ratio-16x9 order-2--lg"></div>

                <div>

                    <h3>
                        A Requiem Mass for Rudy Mazzocchi
                    </h3>
                
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod porro nobis soluta facilis quas cupiditate quae.
                    </p>

                    <a class="button 👉 button--has-icon theme-primary font-size-md" href="#1">
                        <span class="icon icon-youtube"></span>
                        <span class="button__text">Little Church on Youtube</span>
                    </a>

                </div>
            
            </div> 
            
        </div>

    </section>

	<section class="theme-dark">
                   
		<div class="grid grid--column-2--lg align-items-center">

			<div class="container narrow margin-y-4">

				<div class="text-shadow margin-bottom-3">
					<h2>
						How we became the little church around the corner

					</h2>
					<p>
						From our founding in 1848 to the Civil War, and our longstanding ties to the theater, discover the vibrant history of our little church. 
					</p>
				</div>

				<a href="#1" class="button button--has-icon theme-primary font-size-md">
					<span class="button__text">A Breif History</span>
					<span class="icon icon-arrow-right"></span>
				</a>
			</div>

			<div class="backdrop">

				<div class="backdrop__media">
					<img src="/images/feature-a-breif-history.jpg" alt="Placeholder">
				</div>

			</div>
			
		</div>

	</section>

    <section class="margin-y-6">
    
        <div class="container wide">
            
            <header class="header border-bottom border-color-dark padding-bottom-1 margin-bottom-2">
                <h2 class="font-size-sm font-weight-normal text-transform-uppercase">
                    Latest News
                </h2>
            </header>
            
            <div class="grid grid--divider--fill-y grid--column-3">

				{% for item in craft.entries.section('blog').limit(3).all() %}
            
                <a class="grid grid--column-3 gap-2 align-items-center" href="{{ item.url}}">

                    <div class="theme-dark aspect-ratio-1x1"></div>

                    <div class="grid__colspan-2">

					<p class="font-size-sm margin-bottom-0">
						{{ item.postDate.format('F j, Y') }}
					</p>
                        
                        <h3 class="h6">
                            {{ item.title }}
                        </h3>
                    
                    </div>

                </a>

				{% endfor %}
            
                <div class="grid grid--column-3 gap-2 align-items-center">

                    <div class="theme-dark aspect-ratio-1x1"></div>

                    <div class="grid__colspan-2">
                        
                        <h3 class="h6">
                            A Requiem Mass for Rudy Mazzocchi
                        </h3>
                    
                    </div>

                </div>
            
                <div class="grid grid--column-3 gap-2 align-items-center">

                    <div class="theme-dark aspect-ratio-1x1"></div>

                    <div class="grid__colspan-2">
                        
                        <h3 class="h6">
                            A Requiem Mass for Rudy Mazzocchi
                        </h3>
                    
                    </div>

                </div>

            </div> 
            
        </div>

    </section>

</main>

{% endblock %}